.myacc
{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top:2%;
}

.myaccbtn
{
    display: flex;
    flex-direction: column;
    border: 0.7px solid rgba(0, 0, 0, 0.6);

}

.myaccprod, .mymsg, .mysaved, .myaccInfo
{
    height: 51px;
    width: 257px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    background-color: #fff;
    
}

.myaccInfo
{
    border-bottom: 0.7px solid rgba(0, 0, 0, 0.6);
}

.myaccprod:hover, .mymsg:hover, .mysaved:hover, .myaccInfo:hover {
    background-color: #e0d5ef;
    color: #000;
}

.btn_active
{
    background-color: #e0d5ef;
}

.myaccprof
{
    margin-top: 1%;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    text-align: center;

}

.myaccright
{
    padding-left: 20px;
}

.addprod
{
    height: 51px;
    width: 882px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 10px;
    margin-top: -10px;

    background-color:  #e0d5ef;
}

.addprod:hover{
    background-color: #aa9cc1;
}

.myproducts
{
    padding-top: 10px;
}

.linkfromacc{
    text-align: left;
    margin-left: 2%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-left: 10%;
    margin-top: 2%;
}